@font-face {
  font-family: fuente_1;
  font-style: normal;
  font-weight: normal;
  src : url(FontdinerdotcomLuvable.ttf);
}
@font-face {
  font-family: fuente_2;
  font-style: normal;
  font-weight: normal;
  src : url(flxgirl.ttf);
}
@font-face {
  font-family: fuente_3;
  font-style: normal;
  font-weight: normal;
  src : url(Times-New-Romance.ttf);
}
.tipografia_1{
  font-family: fuente_1;
}
.tipografia_2{
  font-family: fuente_2;
}
.tipografia_3{
  font-family: fuente_3;
  text-shadow: 0 0 10px #f0f0f0,0 0 20px #f0f0f0,0 0 30px #f0f0f0,0 0 40px #0cf400,0 0 50px #0cf400,0 0 80px #0cf400,0 0 100px #0cf400,0 0 150px #0cf400;
}
.menu li a{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  box-shadow: 0 0 50px #fff,5px 20px 150px #ff0000;
}
.green{
  text-shadow: 0 0 10px #f0f0f0,0 0 20px #f0f0f0,0 0 30px #f0f0f0,0 0 40px #0cf400,0 0 50px #0cf400,0 0 80px #0cf400,0 0 100px #0cf400,0 0 150px #0cf400;
}
.pink{
  text-shadow: 0 0 10px #f0f0f0,0 0 20px #f0f0f0,0 0 30px #f0f0f0,0 0 40px #ff00e5,0 0 50px #ff00e5,0 0 80px #ff00e5,0 0 100px #ff00e5,0 0 150px #ff00e5;
}
.red{
  text-shadow: 0 0 10px #f0f0f0,0 0 20px #f0f0f0,0 0 30px #f0f0f0,0 0 40px #ff0000,0 0 50px #ff0000,0 0 80px #ff0000,0 0 100px #ff0000,0 0 150px #ff0000;
}
.navy-blue{
  text-shadow: 0 0 10px #f0f0f0,0 0 20px #f0f0f0,0 0 30px #f0f0f0,0 0 40px #9800ff,0 0 50px #9800ff,0 0 80px #9800ff,0 0 100px #9800ff,0 0 150px #9800ff;
}
